<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Scribtime</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400">
  <link rel="stylesheet" href="https://unpkg.com/ionicons@4.4.4/dist/css/ionicons.min.css">
  <link rel="stylesheet" href="vendors/css/grid.css">
  <link rel="stylesheet" type="text/css" media="screen" href="resources/css/main.css" />
  <link rel="stylesheet" type="text/css" href="resources/css/queries.css" />

</head>

<body>

  <div id="app">
    <header>
      <nav>
        <div class="row">
          <header-clock :hours="currentHours" :minutes="currentMinutes"></header-clock>
          <div class="logo">
            <header-date :date="currentDate"></header-date> -
            <header-time :time="currentTime"></header-time>
          </div>
          <ul class="main-nav">
            <!--
            <li><a href="#dashboard">Dashboard</a></li>
            -->
            <li><a href="#day">Day</a></li>
            <!--
            <li><a href="#week">Week</a></li>
            <li><a href="#month">Month</a></li>
            -->
          </ul>
          <a class="mobile-nav-icon">
            <i class="icon ion-md-menu"></i>
          </a>
        </div>
      </nav>

      <div class="hero-text-box">
        <h1 v-html="heroText">Your greatest resource<br /> is your time.</h1>
        <a class="btn btn-full" href="#day">I’m ready</a>
        <a class="btn btn-ghost show-button" href="#features">Show me more</a>
      </div>

    </header>

    <section class="section-features" id="features">
      <div class="row">
        <h2>Stay in time and control</h2>
        <p class="long-copy">
          Use Scribtime to plan and track your working hours.
        </p>
      </div>
    </section>

    <!--
      <section class="section-dashboard" id="dashboard">
          <div class="row">
            <h2>Dashboard</h2>
          </div>
      </section>
      -->

    <section class="section-day" id="day">
      <div class="row">
        <h2>Day - {{currentDate}}</h2>
      </div>
      <div class="row">

        <div class="col span-2-of-4">
          <div class="day-box day-box-entries">
            <div>
              <h3>Entries</h3>
            </div>
            <div>
              <label for="startInput">Start</label>
              <input type="text" name="startInput" id="startInput" :placeholder="start.value" required v-model="start.input"
                @input="calculateTime" @change="adjustTime">
            </div>
            <div>
              <label for="plannedHoursInput">Planned Hours</label>
              <input type="text" name="plannedHoursInput" id="plannedHoursInput" :placeholder="plannedHours.value"
                required v-model="plannedHours.input" @input="calculateTime"
                @change="adjustTime">
            </div>
            <div>
              <label for="breakHoursInput">Break</label>
              <input type="text" name="breakHoursInput" id="breakHoursInput" :placeholder="breakHours.value"
                required v-model="breakHours.input" @input="calculateTime"
                @change="adjustTime">
            </div>
            <div>
              <label for="endInput">End</label>
              <input type="text" name="endInput" id="endInput" :placeholder="end.value" required v-model="end.input"
                @input="calculateTime" @change="adjustTime">
            </div>
            <div class="day-box-end"></div>
          </div>
        </div>

        <div class="col span-2-of-4">
          <div class="day-box day-box-info">
            <div>
              <h3>Infos</h3>
            </div>
            <div>
              <span class="display-label">Hours</span>
              <span class="display-value">{{planValue}}</span>
            </div>
            <div>
              <span class="display-label">Status</span>
              <span class="display-value">{{statusValue}}</span>
            </div>
            <div>
              <span class="display-label">Progress</span>
              <span class="display-value">{{progressValue}}</span>
              <div class="progress-bar">
                <span class="progress-bar-left" :style="progressBarLeft">&nbsp;</span><span class="progress-bar-right" :style="progressBarRight">&nbsp;</span>
              </div>
            </div>
            <div class="day-box-end"></div>
          </div>
        </div>

      </div>

    </section>



    <!--
      <section class="section-week" id="week">
        <div class="row">
          <h2>Week</h2>
        </div>
      </section>
    
      <section class="section-month" id="month">
        <div class="row">
          <h2>Month</h2>
        </div>
      </section>
      -->

    <footer>
      <div class="row">
        <div class="col span-1-of-2">
          <ul class="footer-nav">
            <li><a href="#">About us</a></li>
          </ul>
        </div>
        <div class="col span-1-of-2">

        </div>
      </div>
    </footer>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-duration-format/2.2.2/moment-duration-format.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
  <script src="resources/js/utils.js"></script>
  <script src="resources/js/main.js"></script>

</body>

</html>