<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Scribtime</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400">
  <link rel="stylesheet" href="https://unpkg.com/ionicons@4.4.4/dist/css/ionicons.min.css">
  <link rel="stylesheet" href="vendors/css/grid.css">
  <link rel="stylesheet" type="text/css" media="screen" href="resources/css/main.css" />
  <link rel="stylesheet" type="text/css" href="resources/css/queries.css" />

</head>

<body>

  <div id="app">
    <header>
      <nav>
        <div class="row">
          <header-clock :hours="hours" :minutes="minutes"></header-clock>
          <div class="logo">
            <header-date :date="date"></header-date> -
            <header-time :time="time"></header-time>
          </div>
          <ul class="main-nav">
            <!--
            <li><a href="#dashboard">Dashboard</a></li>
            -->
            <li><a href="#day">Day</a></li>
            <!--
            <li><a href="#week">Week</a></li>
            <li><a href="#month">Month</a></li>
            -->
          </ul>
          <a class="mobile-nav-icon">
            <i class="icon ion-md-menu"></i>
          </a>
        </div>
      </nav>

      <div class="hero-text-box">
        <h1>Your greatest resource<br /> is your time.</h1>
        <a class="btn btn-full" href="#day">I’m ready</a>
        <a class="btn btn-ghost" href="#features">Show me more</a>
      </div>

    </header>

    <section class="section-features" id="features">
      <div class="row">
        <h2>Stay in time and control</h2>
        <p class="long-copy">
          Use Scribtime to plan and track your working hours.
        </p>
      </div>
    </section>

    <!--
      <section class="section-dashboard" id="dashboard">
          <div class="row">
            <h2>Dashboard</h2>
          </div>
      </section>
      -->

    <section class="section-day" id="day">
      <div class="row">
        <h2>Day - {{date}}</h2>
      </div>
      <div class="row">

        <div class="col span-1-of-3">
          <div class="day-box day-box-entries">
            <div>
              <h3>Entries</h3>
            </div>
            <div>
              <label for="startEntry">Start</label>
              <input type="text" name="startEntry" id="startEntry" placeholder="Start Time" required v-model="startEntry"
                @blur="calculateTime">
            </div>
            <div>
              <label for="durationEntry">Duration</label>
              <input type="text" name="durationEntry" id="durationEntry" placeholder="Duration" required v-model="durationEntry"
                @blur="calculateTime">
            </div>
            <div>
              <label for="endEntry">End</label>
              <input type="text" name="endEntry" id="endEntry" placeholder="End Time" required v-model="endEntry" @blur="calculateTime">
            </div>
            <div></div>
          </div>
        </div>

        <div class="col span-1-of-3">
          <div class="day-box day-box-plan">
            <div>
              <h3>Plan</h3>
            </div>
            <div>
              <span class="display-label">Start</span>
              <span class="display-value">{{startPlan}}</span>
            </div>
            <div>
              <span class="display-label">Duration</span>
              <span class="display-value">{{durationPlan}}</span>
            </div>
            <div>
              <span class="display-label">End</span>
              <span class="display-value">{{endPlan}}</span>
            </div>
            <div></div>
          </div>
        </div>

        <div class="col span-1-of-3">
          <div class="day-box day-box-stats">
            <div>
              <h3>Stats</h3>
            </div>
            <div>
              <span class="display-label">Current Duration</span>
              <span class="display-value">{{currentDuration}}</span>
            </div>
            <div>
              <span class="display-label">Duration Difference</span>
              <span class="display-value">{{diffDuration}}</span>
            </div>
            <div>
              <span class="display-label">Status</span>
              <span class="display-value">{{status}}</span>
            </div>
            <div></div>
          </div>
        </div>

      </div>
    </section>

    <!--
      <section class="section-week" id="week">
        <div class="row">
          <h2>Week</h2>
        </div>
      </section>
    
      <section class="section-month" id="month">
        <div class="row">
          <h2>Month</h2>
        </div>
      </section>
      -->

    <footer>
      <div class="row">
        <div class="col span-1-of-2">
          <ul class="footer-nav">
            <li><a href="#">About us</a></li>
          </ul>
        </div>
        <div class="col span-1-of-2">

        </div>
      </div>
    </footer>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-duration-format/2.2.2/moment-duration-format.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
  <script src="resources/js/main.js"></script>

</body>

</html>